@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::selection {
  background-color: #2faa8b;
  color: #a9e0d2;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", serif;
}

body {
  background: #f5f5f5;
  color: #0e0e0e;
}

img {
  user-select: none;
}

nav {
  z-index: 50;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100vw;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

nav button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #006a50;
  color: #006a50;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #006a50;
  color: #f5f5f5;
}

#hero p {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 20px;
}

#hero h1 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}

#hero button {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #006a50;
  color: #f5f5f5;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#hero button:hover {
  background-color: #015d46;
}

#hero img {
  height: 320px;
}

#hero > div {
  background: #c6e4d6;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 24px;
}

#hero {
  padding-left: 150px;
  padding-right: 150px;
}

#hero-left {
  margin: 80px 50px;
}

#hero-right {
  margin: 64px;
}

#pillars-of-bd-2 {
  padding: 100px 150px 0px 150px;
}

#pillars-of-bd-2 > h2 {
  font-size: 32px;
}

.card-container {
  margin: 20px 0px;
  display: flex;
  gap: 24px;
}

.card > img {
  width: 64px;
}

.card > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card > p {
  color: #0e0e0e;
  opacity: 0.7;
  line-height: 26px;
}

.card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #dbdbdb;
}

#the-vision-of-future {
  padding: 100px 150px 0px 150px;
}

#the-vision-of-future > h2 {
  font-size: 32px;
}

#the-vision-of-future > p {
  margin: 32px 0px;
  opacity: 0.7;
}

#card-blue {
  background-color: #5490f520;
  padding: 24px;
  border-radius: 16px;
  border: none;
}

#card-blue > button {
  background-color: #5490f5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#card-green {
  background-color: #c6e4d6;
  padding: 24px;
  border-radius: 16px;
  border: none;
}

#card-green > button {
  background-color: #09a15c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#card-yellow {
  background-color: #f7ebcf;
  padding: 24px;
  border-radius: 16px;
  border: none;
}

#card-yellow > button {
  background-color: #ffc239;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#quote {
  padding: 50px 150px 0px 150px;
}

#quote > div {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
}

#quote > div > img {
  width: 64px;
  margin: 20px;
}

.quote {
  margin: 20px;
  margin-top: -64px;
}

.quote-name {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 10px;
}

.quote-description {
  opacity: 0.6;
  margin-left: 20px;
  margin-bottom: 36px;
}
